.w-100.mx-auto {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 0 2.5% 0;
}

.card-container.d-flex {
    margin-left: 0px !important;
    margin-right: 0px !important;

    /* background-color: var(--quaternary-color); */
    width: 95%;
    max-width: 345px !important;
}

.card {
    width: 31.3%;
    margin: 1%;
    flex: 0 0 auto;

    background-color: var(--primary-color) !important;
    border: 2px solid var(--border-color) !important;
}

.card-title.cardDeck {
    margin-bottom: 0px;
    padding-bottom: 5%;
    padding-top: 2.5%;
}

.card-body {
    padding: 0px !important;
}

.cardImage {
    max-width: 100%;
}

.row.cardDeck {
    margin-left: 0px;
    margin-right: 0px;
    /* margin-left: 5%; */
    padding-bottom: 10%;
}

.col.maxTemp,
.col.minTemp {
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
